.conteudo{
    display: flex;
    justify-content: space-between;

}
.cartao{
    background-color: black;
    color: white;  
    border-radius: 56px;
    height: 344px;
    flex-grow: 1;
    width: 403px;
    
}